POSTGRES_USER=gra
POSTGRES_PASSWORD=gra_secret
POSTGRES_DB=gra_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

RABBITMQ_USER=gra
RABBITMQ_PASSWORD=gra_rabbit
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

MAX_UPLOAD_SIZE_MB=50
